#clock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 5em;
  font-weight: bold;
  color: #333;
  font-family: 'Arial Black', sans-serif; /* added */
  position: relative;
  z-index: 20;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  overflow: hidden;
  border-top: 1px solid rgb(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  }
  
  #q {
  width: 100px;
  padding: 10px 20px;
  font-weight: 900;
  font-family: 'Arial Black', sans-serif;
  transition: all .5s ease, padding .5s ease;
  position: relative;
  z-index: 20;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  overflow: hidden;
  border-top: 1px solid rgb(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  }
  
  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  }
  body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #091921;
  position: relative;
  }
  
  body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e91e63, #ffc107);
  clip-path: circle(22% at 30% 20%);
  }
  
  body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffffff, #da00ff);
  clip-path: circle(20% at 70% 90%);
  }
  
  